---
import LinkAnchor from './LinkAnchor.astro';

const { title, name, svg, url } = Astro.props;
---

<li class="inline-flex">
  <img title={title} src={svg.src} alt={title} class="mr-2" />
  <h1 class="mr-2 font-semibold text-ctp-mauve">{title}</h1>
  <LinkAnchor name={name} url={url} />
</li>
